// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #2b7b72
$secondary = #26A69A
$accent    = #d4f5f5

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

@import '~quasar-variables-styl'

@font-face
        font-family foundationFont 
        src url(./fonts/montserrat/Montserrat-Regular.ttf)